app:
  application-name: Quolance
  base-url: "http://localhost:8080"
  allowed-origins: "http://localhost"
  login-page-url: "${app.base-url}/auth/login"
  login-success-url: "${app.base-url}/auth/login-success"

  admin:
    email: ${ADMIN_EMAIL}
    password: ${ADMIN_PASSWORD}

spring:
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB


  config:
    import: "optional:file:../.env[.properties]"

  security:
    oauth2:
      client:
        registration:
          github:
            client-id: "${GITHUB_CLIENT_ID}"
            client-secret: "${GITHUB_CLIENT_SECRET}"
          google:
            client-id: "${GOOGLE_CLIENT_ID}"
            client-secret: "${GOOGLE_CLIENT_SECRET}"

  application:
    name: quolance-api

  datasource:
    url: ${DATASOURCE_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: ${DB_DDL_AUTO}
    show-sql: false
    properties:
      hibernate.format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: localhost
    port: ${MAILPIT_SMTP_PORT}
    username: ${MAILPIT_USER}
    password: ${MAILPIT_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

org:
  jobrunr:
    background-job-server:
      enabled: true
    dashboard:
      enabled: true

logging:
  file:
    name: ${LOG_FILE}
  level:
    root: INFO
    org.springframework.web.socket: DEBUG
    org.springframework.messaging: DEBUG
    com.quolance: DEBUG
    org.springframework.web: ERROR

server:
  ssl:
    enabled: false
  port: 8081
  error:
    include-message: always

cloudinary:
  cloud_name: ${CLOUDINARY_CLOUD_NAME}
  api_key: ${CLOUDINARY_API_KEY}
  api_secret: ${CLOUDINARY_API_SECRET}

