<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Password Generated</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333;">
<p th:text="'Hi 👋 ' + ${user.firstName} + '!'">Hi 👋 User!</p>
<p th:text="'Your account on ' + ${applicationName} + ' has been successfully created. Below is your temporary password:'">
    Your account on [Application Name] has been successfully created. Below is your temporary password:
</p>
<p style="font-size: 18px; font-weight: bold; color: #2C7BE5;" th:text="${generatedPassword}">
    temporary-password
</p>
<p>Please log in to your account and change your password immediately for security purposes.</p>
<p>If you have any questions, feel free to contact our support team.</p>
<br>
<p>Thank you,</p>
<p>The <span th:text="${applicationName}">Application Name</span> Team</p>
</body>
</html>
