name: CI/CD Pipeline

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  frontend-build-test:
    name: Build, Test, and Analyze Frontend
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout Repository
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # Step 2: Install Dependencies
      - name: Install Dependencies
        run: |
          cd quolance-ui
          npm install

      # Step 3: Run Cypress Tests
      - name: Run Cypress Tests
        run: |
          cd quolance-ui
          npm run e2e:headless

      # Step 4: Log lcov.info for Verification
      - name: Log lcov.info File
        run: |
          cd quolance-ui
          echo "Logging lcov.info file for verification:"
          cat coverage/lcov.info || echo "lcov.info file not found"

      # Step 5: Run SonarScanner with npx
      - name: Run SonarScanner
        run: |
          cd quolance-ui
          npx sonarqube-scanner \
            -Dsonar.organization=abdelh17 \
            -Dsonar.projectKey=abdelh17_Quolance_ui \
            -Dsonar.sources=. \
            -Dsonar.tests=cypress/e2e \
            -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info \
            -Dsonar.exclusions=cypress/e2e/**,**/node_modules/** \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.verbose=true
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  backend-build-test:
    name: Build and Test Backend
    runs-on: ubuntu-latest
    env:
      MAILPIT_SMTP_PORT: "1025"
      DB_DDL_AUTO: "create"
      CLOUDINARY_CLOUD_NAME: ${{ secrets.CLOUDINARY_CLOUD_NAME }}
      CLOUDINARY_API_KEY: ${{ secrets.CLOUDINARY_API_KEY }}
      CLOUDINARY_API_SECRET: ${{ secrets.CLOUDINARY_API_SECRET }}
      CLOUDINARY_API_ENV_VAR: ${{ secrets.CLOUDINARY_API_ENV_VAR }}
      LOG_FILE: "./logs/quolance.log"

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # Set up JDK for Spring Boot
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "21"

      - name: Build, Test, and Analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          cd quolance-api
          ./mvnw clean verify sonar:sonar \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.organization=abdelh17 \
            -Dsonar.projectKey=abdelh17_Quolance_api \
            -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml
