name: CI/CD Pipeline

on:
  pull_request:
    branches:
      - main

jobs:
  frontend-build-test:
    name: Build and Test Frontend
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # Step 1: Install Dependencies
      - name: Install Dependencies
        run: |
          cd quolance-ui
          npm install

      # UNCOMMENT WHEN THERE ARE TESTS IN FRONTEND
      # # Step 2: Run Tests
      # - name: Run Tests
      #   run: |
      #     cd quolance-ui
      #     npm test

      # Step 3: Build Frontend
      - name: Build Frontend
        run: |
          cd quolance-ui
          npm run build

      # Step 4: SonarCloud Scan for Frontend
      - name: SonarCloud Scan Frontend
        uses: SonarSource/sonarqube-scan-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: quolance-ui
          args: >
            -Dsonar.organization=abdelh17
            -Dsonar.projectKey=abdelh17_Quolance_ui
            -Dsonar.sources=.
            -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info
            -Dsonar.host.url=https://sonarcloud.io

  backend-build-test:
    name: Build and Test Backend
    runs-on: ubuntu-latest
    env:
      MAILPIT_SMTP_PORT: "1025"
      DB_DDL_AUTO: "create"

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # Set up JDK for Spring Boot
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      # Build and test Spring Boot backend
      - name: Build and Test Spring Boot
        run: |
          cd quolance-api
          ./mvnw clean install
          ./mvnw test

      # SonarCloud Scan for Backend
      - name: SonarCloud Scan Backend
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          cd quolance-api
          ./mvnw verify sonar:sonar \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.organization=abdelh17 \
            -Dsonar.projectKey=abdelh17_Quolance_api