name: CI/CD Pipeline

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  frontend-build-test:
    name: Build, Test, and Analyze Frontend
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout Repository
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # Step 2: Install Dependencies
      - name: Install Dependencies
        run: |
          cd quolance-ui
          npm install

      # Step 3: Run Cypress Tests
      - name: Run Cypress Tests
        run: |
          cd quolance-ui
          npm run e2e:headless

      # Step 4: Generate Coverage Report
      - name: Generate Coverage Report
        run: |
          cd quolance-ui
          npm run coverage:report  # Generates lcov.info

      # Step 5: Run SonarCloud Scan
      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: quolance-ui
          args: >
            -Dsonar.organization=abdelh17
            -Dsonar.projectKey=abdelh17_Quolance_ui
            -Dsonar.sources=.
            -Dsonar.javascript.lcov.reportPaths=./coverage/lcov.info
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.verbose=true

  backend-build-test:
    name: Build and Test Backend
    runs-on: ubuntu-latest
    env:
      MAILPIT_SMTP_PORT: "1025"
      DB_DDL_AUTO: "create"
      CLOUDINARY_CLOUD_NAME: ${{ secrets.CLOUDINARY_CLOUD_NAME }}
      CLOUDINARY_API_KEY: ${{ secrets.CLOUDINARY_API_KEY }}
      CLOUDINARY_API_SECRET: ${{ secrets.CLOUDINARY_API_SECRET }}
      CLOUDINARY_API_ENV_VAR: ${{ secrets.CLOUDINARY_API_ENV_VAR }}
      LOG_FILE: "./logs/quolance.log"

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # Set up JDK for Spring Boot
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "21"

      - name: Build, Test, and Analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          cd quolance-api
          ./mvnw clean verify sonar:sonar \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.organization=abdelh17 \
            -Dsonar.projectKey=abdelh17_Quolance_api \
            -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml
