name: CI/CD Pipeline

on:
  pull_request:
    branches:
      - BE-61-deployment
  push:
    branches:
      - BE-61-deployment

jobs:
  frontend-build-test:
    name: Build, Test, and Run E2E for Frontend
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # Step 1: Install Dependencies
      - name: Install Dependencies
        run: |
          cd quolance-ui
          npm install

    # Step 2: Run Cypress Tests
    #  - name: Run Cypress Tests
    #   run: |
    #    cd quolance-ui
    #     npm run e2e:headless


      # Step 3: Build Frontend
      - name: Build Frontend
        run: |
          cd quolance-ui
          npm run build

      # Step 4: SonarCloud Scan for Frontend
      - name: SonarCloud Scan Frontend
        uses: SonarSource/sonarqube-scan-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: quolance-ui
          args: >
            -Dsonar.organization=abdelh17
            -Dsonar.projectKey=abdelh17_Quolance_ui
            -Dsonar.sources=.
            -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info
            -Dsonar.host.url=https://sonarcloud.io

  backend-build-test:
    name: Build and Test Backend
    runs-on: ubuntu-latest
    env:
      MAILPIT_SMTP_PORT: "1025"
      DB_DDL_AUTO: "create"
      CLOUDINARY_CLOUD_NAME: ${{ secrets.CLOUDINARY_CLOUD_NAME }}
      CLOUDINARY_API_KEY: ${{ secrets.CLOUDINARY_API_KEY }}
      CLOUDINARY_API_SECRET: ${{ secrets.CLOUDINARY_API_SECRET }}
      CLOUDINARY_API_ENV_VAR: ${{ secrets.CLOUDINARY_API_ENV_VAR }}
      LOG_FILE: "./logs/quolance.log"

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # Set up JDK for Spring Boot
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build, Test, and Analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          cd quolance-api
          ./mvnw clean verify sonar:sonar \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.organization=abdelh17 \
            -Dsonar.projectKey=abdelh17_Quolance_api \
            -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml


deploy:
  name: Deploy to Oracle Instance
  runs-on: ubuntu-latest
  steps:
    - uses: actions/checkout@v3

    - name: Decrypt env file
      run: |
        gpg --batch --yes --passphrase "${{ secrets.ENV_PASSPHRASE }}" --decrypt --output .env .env.gpg

    - name: Confirm Deployment
      run: |
        echo "Starting deployment to Oracle Instance..."
        echo "Deploying the latest changes from the BE-61-deployment branch."

    - name: SSH to Oracle Instance and Update Project
      run: |
        # Create SSH directory
        mkdir -p ~/.ssh
        chmod 700 ~/.ssh

        # Add the private key directly
        echo "${{ secrets.OCI_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa

        # Add the host to known_hosts
        ssh-keyscan -H 155.248.225.24 >> ~/.ssh/known_hosts

        # SSH and execute commands
        ssh -i ~/.ssh/id_rsa opc@155.248.225.24 << 'EOF'
          
          # Update latest changes and package application
          cd /home/opc/Quolance/quolance-api || { echo "Failed to change directory"; exit 1; }
          git pull origin BE-61-deployment || { echo "Failed to pull latest changes"; exit 1; }
          ./mvnw clean package -DskipTests || { echo "Maven package failed"; exit 1; }
          sleep 10

          # Restart the application in tmux
          tmux send-keys -t quolance-api C-c
          sleep 5
          tmux send-keys -t quolance-api 'java -jar target/quolance-api-0.0.1-SNAPSHOT.jar' Enter
          sleep 20
          
          echo "Deployment successful."
          exit
        EOF